# Ignore all
*

# Unignore all with extensions
!*.*
!**/Dockerfile
!**/Makefile

# Unignore all dirs
!*/
!api

# ignore
**/.idea
**/.vscode
**/.DS_Store
**/logs
**/adhoc
**/coverage.txt
**/WARP.md

# for test purpose
go.work
go.work.sum
mysql2pg
config.yml
*.log
*.exe
ddl/
# gitlab ci
.cache
.golangci.yml

# vim auto backup file
*~
!OWNERS

# Documentation (not for version control)
docs/
